@font-face {
  font-family: 'IvarText', sans-serif;
  src: url('../fonts/IvarText-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'IvarText', sans-serif;
  src: url('../fonts/IvarText-SemiBold.woff2') format('woff2');
  font-weight: 600;
}
